<html>
  <%- include("partials/meta"); -%>
  <body>
    <%- include("partials/header"); -%>
    <!-- CONTENT START -->
    <h1>Admin paneline hoş geldiniz</h1>
    <hr />
    <!-- CONTENT END -->
    <%- include("../service/scripts-end"); -%>
  </body>
</html>
