<footer id="contact">
  <div class="footer-container">
    <div class="infobox">
      <h2 class="info-title">İLETİŞİM</h2>
      <span>Adres: &nbsp Karaman Mh. Kerem Cd. Salihoğlu Sitesi No:17 Nilüfer BURSA TÜRKİYE</span>
      <span>Gsm: &nbsp (0 532) 602 25 90</span>
      <span>Telefon: &nbsp (0 224) 249 56 95</span>
      <span>Fax: &nbsp (0 224) 249 56 95</span>
      <span>Mail: &nbsp hikmet@boyaservis.com</span>
    </div>
    <div class="infobox">
      <h2 class="info-title">MENÜ</h2>
      <a href="/">Anasayfa</a>
      <a href="/hizmetler">Hizmetler</a>
      <a href="/isler">İşler</a>
      <a href="/kurumsal">Kurumsal</a>
      <a href="/iletisim">İletişim</a>
    </div>
  </div>
  <div class="brand"><i class="fa-regular fa-registered"></i><strong>HİKMET KÜÇÜK ENDÜSTRİYEL İNŞAAT <% const year=new Date().getFullYear();%><%=year%></strong></div>
</footer>
