<header class="header">
  <div class="header-container">
    <a href="/"><img src="/images/logohk.png" alt="" /></a>
    <nav class="menu">
      <ul>
        <li>
          <a href="/">Anasayfa</a>
        </li>
        <li>
          <a href="/hizmetler">Hizmetler</a>
        </li>
        <li>
          <a href="/isler">İşler</a>
        </li>
        <li>
          <a href="/kurumsal">Kurumsal</a>
        </li>
        <li>
          <a href="/iletisim">İletişim</a>
        </li>
      </ul>
    </nav>
    <i class="fa-solid fa-bars fa-2x burger menu-icon"> </i>
  </div>
</header>
