<section class="section-slider">
  <div class="hero-slider owl-carousel">
    <div data-bg-image="/images/slide01.jpg" data-bg-color="#f5a02c" class="slide-item"></div>
    <div data-bg-image="/images/slide01.jpg" data-bg-color="#f5a02c" class="slide-item"></div>
  </div>
</section>
