<html>
  <%- include("partials/meta"); -%>
  <body>
    <%- include("partials/header"); -%>
    <!-- CONTENT START -->
    <div class="pagecontent">
      <h1 class="single-service-heading">Hakkımızda</h1>
      <div class="service-info">
        <h3 class="service-desc-heading">Hikmet Küçük Endüstriyel İnşaat</h3>
        <p>
          Firmamız, İnşaat Mühendisi Hikmet Küçük tarafından kurulmuş olup bugün sanayi ve konut yapılarına özgü Endüstriyel inşaat, Epoksi Zemin Kaplama ve boya, Hafif Çelik Konstrüksiyon üretimi, Yalıtım & boya uygulama alanlarında hizmet
          vermektedir.
          <br />
          Sektörün öncü kuruluşlarından olan Hikmet Küçük Endüstriyel İnşaat, kurulduğu günden bugüne müşterilerine en iyi, en kaliteli hizmeti sunmayı amaç edinerek, müşteri memnuniyetini daima önplanda tutmuştur.
          <br />
          Sektörde 20 yılı aşkın tecrübemizden edindiğimiz bilgi ve öngörüyü, güçlü işbirlikleri, nitelikli insan kaynağı ve yenilikçi bakış açısı ile birleştirerek her gün daha ileri emin adımlarla yürüyoruz.
        </p>
        <br />
        <img class="aboutimg" src="/images/aboutimg.jpg" alt="stock photo about page" />
      </div>
    </div>
    <!-- CONTENT END -->
    <div class="footer-fix ff"><%- include("partials/footer"); -%></div>
    <%- include("service/scripts-end"); -%>
  </body>
</html>
