<header class="header">
  <div class="header-container">
    <a href="/admin"
      ><p>HK Boyaservis<br style="margin: 0" />Admin Paneli</p></a
    >
    <nav class="menu">
      <ul>
        <li><a href="/admin/clients">Clients</a></li>
        <li><a href="/admin/services">Services</a></li>
        <li><a href="/admin/works">Works</a></li>
        <li><a href="/">Homepage</a></li>
        <li><a href="/admin/logout">Logout</a></li>
      </ul>
    </nav>
    <i class="fa-solid fa-bars fa-2x burger menu-icon"> </i>
  </div>
</header>
